+++
title = "Privacy Tech"
linkTitle = "Privacy Tech"

+++
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
{{< blocks/cover title="Privacy Tech and Open Standards" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<!-- <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/privacytech/dsr-openapi" target="new">
		Download <i class="fab fa-github ml-2 "></i>
	</a> -->
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}" target="new">
		Learn More <i class="fab fa-github ml-2 "></i>
	</a>
	<p>
		<a class="github-button" href="https://github.com/privacytech/privacytech.dev" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star privacytech/privacytech.dev on GitHub">Star</a>
		<!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/privacytech" data-size="large" data-show-count="true" aria-label="Follow @privacytech on GitHub">Follow @privacytech</a>
		<!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/privacytech/privacytech.dev/discussions" data-icon="octicon-comment-discussion" data-size="large" aria-label="Discuss privacytech/privacytech.dev on GitHub">Discuss</a>
		<!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/privacytech/privacytech.dev/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch privacytech/privacytech.dev on GitHub">Watch</a>
	</p>

	<p class="lead mt-5">This is the place where you find the <u>Privacy Tech, Standards, Specifications, Protocols</u> that help engineers and developer to 
		add the privacy features and tech solutions, APIs, components into your software. </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Data being one of the most valuable assets, is often subject to misuse. Many countries have passed their data privacy laws to protect the data rights of their citizens. 
[EU GDPR](https://gdpr-info.eu/), [California CCPA](https://www.oag.ca.gov/privacy/ccpa),[Brazil LGPD](https://iapp.org/news/a/an-overview-of-brazils-lgpd/).

Businesses around the world are trying to implement the privacy APIs and controlls. 
To our big surprise - there is no strong open source community around the privacy technologies. 
<h2>Our goal: Build open source community to the rescue!</h2>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Specifications" %}}
There are many data privacy laws that have impacted the whole digital world. Some of the major laws are the [EU GDPR](https://gdpr-info.eu/), [California CCPA](https://www.oag.ca.gov/privacy/ccpa),[Brazil LGPD](https://iapp.org/news/a/an-overview-of-brazils-lgpd/).
[Your data matters](https://ico.org.uk/your-data-matters/)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Protocols" %}}
We do a [Pull Request](https://github.com/privacytech/privacytech.dev/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Software" %}}
<!-- Place this tag where you want the button to render. -->
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/privacytech/privacytech.dev" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star privacytech/privacytech.dev on GitHub">Star</a>
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!-- 
{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}} -->


<!-- 
{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}} -->
<!-- 
{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}} -->
